body {
    background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

img {
    border-radius: 15px;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 400px;
}

main > section button {
    text-transform: uppercase;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
Button:hover {
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
Button:active {
    position: relative;
	top:1px;
}
#detalhes-container {
    display: contents;
    color: #a8eb12;
    font-weight: bold;
    list-style-type: none;
    height: 90px;
    width: 90%;
}

#detalhes-container > li {
    align-items: baseline;
    display: flex;
}

#detalhes-container > li p {
    color: #caefab;

}

